apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Overlay para Docker Desktop (Local)

# Hereda la base (Apps)
resources:
  - ../../Apps

  # Infraestructura local
  # Mongo
  - Mongo/mongo.yml
  - Mongo/mongo-config.yml
  - Mongo/mongo-secret.yml
  - Mongo/mongo-express.yml
  - Mongo/mongo-exporter.yml
  
  # RabbitMQ local
  - RabbitMQ/rabbit.yml
  - RabbitMQ/rabbit-config.yml
  - RabbitMQ/rabbit-secret.yml
  
  # Monitoring local (Prometheus + Grafana)
  - Monitoring/prometheus.yml
  - Monitoring/grafana.yml
  - Monitoring/dashboard_grafana.yml
  
  # Metrics Server
  - Metrics/metricsServer.yml

# Patches para usar RabbitMQ local
patches:
  - path: patch-rabbitmq-host-consumidor.yaml
  - path: patch-rabbitmq-host-produtor.yaml
