# .github/workflows/ci-pipeline.yml

name: CI/CD Pipeline - Construir, Enviar e Implementar

on:
  push:
    branches:
      - 'main'

permissions:
  contents: write

jobs:
  # --- JOB 1: CONSTRUIR E ENVIAR IMAGENS (EM PARALELO) ---
  build_and_push_images:
    name: Construir e Enviar Imagem (${{ matrix.tag }})
    
    # SALVAGUARDA: Não corre se o commit for do bot
    if: ${{ !contains(github.event.head_commit.message, 'CI:') }}
    
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - service: UI
            tag: ui
          - service: Consumer
            tag: consumer
          - service: Producer
            tag: producer
    
    steps:
      - name: Checkout Código
        uses: actions/checkout@v3

      - name: Login no Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Configurar Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: 'Build e Push da Imagem para: ${{ matrix.tag }}'
        uses: docker/build-push-action@v5
        with:
          context: ./Apps/${{ matrix.service }}
          file: ./Apps/${{ matrix.service }}/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: kingdavid08/${{ matrix.tag }}:${{ github.run_number }}

  # --- JOB 2: ATUALIZAR OS YAMLS E FAZER PUSH (UMA SÓ VEZ) ---
  update_gitops_yamls:
    name: Atualizar YAMLs de Deployment (GitOps)
    
    needs: build_and_push_images 
    
    # SALVAGUARDA: Não corre se o commit for do bot
    if: ${{ !contains(github.event.head_commit.message, 'CI:') }}
    
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Código
        uses: actions/checkout@v3
        with:
          token: ${{ github.token }}

      - name: 'Atualizar tags de imagem com sed'
        run: |
          sed -i "s|image: kingdavid08/ui:.*|image: kingdavid08/ui:${{ github.run_number }}|g" K8s-Config/Apps/ui.yml
          sed -i "s|image: kingdavid08/consumer:.*|image: kingdavid08/consumer:${{ github.run_number }}|g" K8s-Config/Apps/consumidor.yml
          sed -i "s|image: kingdavid08/producer:.*|image: kingdavid08/producer:${{ github.run_number }}|g" K8s-Config/Apps/productor.yml

      - name: Fazer Commit e Push das alterações no YAML
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          git add K8s-Config/Apps/
          
          if ! git diff --staged --quiet; then
            git commit -m "CI: Atualiza tags de imagem para :${{ github.run_number }}"
            git push
          else
            echo "Nenhuma alteração nos YAMLs."
          fi