# .github/workflows/ci-pipeline.yml

name: CI Pipeline - Construir e Enviar Imagens

on:
  push:
    branches:
      - 'main'

jobs:
  # --- JOB 1: TESTAR A APLICAÇÃO ---
  test_app:
    name: Executar Testes Unitários
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Código
        uses: actions/checkout@v3

      - name: Configurar Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      
      # --- CORREÇÃO AQUI ---
      - name: Instalar Dependências e Rodar Testes (na pasta UI)
        # Define o diretório de trabalho para este passo
        working-directory: ./apps/ui
        run: |
          npm install 
          npm test

  # --- JOB 2: CONSTRUIR E ENVIAR IMAGENS ---
  build_and_push_images:
    name: Construir e Enviar Imagens Docker
    needs: test_app 
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [ui, consumidor, productor] 

    steps:
      - name: Checkout Código
        uses: actions/checkout@v3

      - name: Login no Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }} 
      
      - name: Configurar Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: 'Build e Push da Imagem para: ${{ matrix.service }}'
        uses: docker/build-push-action@v5
        with:
          context: ./apps/${{ matrix.service }}
          file: ./apps/${{ matrix.service }}/Dockerfile
          push: true
          tags: kingdavid08/${{ matrix.service }}:${{ github.run_number }}