# .github/workflows/ci-pipeline.yml

name: CI Pipeline - Construir e Enviar Imagens

on:
  push:
    branches:
      - 'main'

jobs:
  # --- CONSTRUIR E ENVIAR IMAGENS (EM PARALELO) ---
  build_and_push_images:
    name: Construir e Enviar Imagem (${{ matrix.tag }})
    
    # Já não é necessário o 'if:' porque este pipeline
    # não faz 'git push', evitando loops infinitos
    
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - service: UI
            tag: ui
          - service: Consumer
            tag: consumer
          - service: Producer
            tag: producer
    
    steps:
      - name: Checkout Código
        uses: actions/checkout@v3

      - name: Login no Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Configurar Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: 'Build e Push da Imagem para: ${{ matrix.tag }}'
        uses: docker/build-push-action@v5
        with:
          context: ./Apps/${{ matrix.service }}
          file: ./Apps/${{ matrix.service }}/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: kingdavid08/${{ matrix.tag }}:${{ github.run_number }}

  # --- O JOB 'update_gitops_yamls' FOI REMOVIDO ---
  # O Argo CD Image Updater agora atualiza automaticamente as tags
  # nos YAMLs de deployment quando deteta novas imagens no Docker Hub